@import "../../css-config/mixins.scss";

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    @include md {
        background-color: rgba(0, 0, 0, 0.753);
    }

    .logo{
        position: absolute;
        top: 30px;
        @include md{
            display: none;
        }
    }
    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        line-height: 0;
    }

    .form-containerS {
        width: 350px;
        height: 730px;
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px 30px;
        overflow: auto;
        
        @include md{
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.354);
        }
        .Sright{
            @include md{
                margin-bottom: 40px;
            }
        .title {
            text-align: center;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            margin: 10px 0 30px 0;
            font-size: 28px;
            font-weight: 800;
            color: white;
        }

        .form {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;

            .input {
                border-radius: 20px;
                border: 1px solid #c0c0c0;
                outline: 0 !important;
                box-sizing: border-box;
                padding: 12px 15px;
                margin-bottom: 15px;
            }

            .form_input_leftright {
                .input1 {
                    border-radius: 20px;
                    border: 1px solid #c0c0c0;
                    outline: 0 !important;
                    box-sizing: border-box;
                    padding: 12px 15px;
                    width: 100%;
                    margin-bottom: 15px;
                }
            }

            .inputActivityLevel{
                border-radius: 20px;
                border: 1px solid #c0c0c0;
                outline: 0 !important;
                box-sizing: border-box;
                padding: 12px 15px;
                margin-bottom: 15px;
            }
            .inputGoal{
                border-radius: 20px;
                border: 1px solid #c0c0c0;
                outline: 0 !important;
                box-sizing: border-box;
                padding: 12px 15px;
                margin-bottom: 15px;
            }
            .inputGender {
                border-radius: 20px;
                border: 1px solid #c0c0c0;
                outline: 0 !important;
                box-sizing: border-box;
                padding: 12px 15px;
                margin-bottom: 15px;
            }

            .form_input_leftrightH {
                display: flex;
                align-items: center;
                label{
                    margin-left: 4px;
                }

                .inputH {
                    border-radius: 20px;
                    border: 1px solid hsl(0, 0%, 75%);
                    outline: 0 !important;
                    box-sizing: border-box;
                    padding: 12px 15px;
                    width: 100%;
                    margin-left: 3px;
                    margin-bottom: 15px;
                }
            }

            .dob{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                label{
                    margin-left: 4px;
                }
            }
            .form-btn {
                padding: 10px 15px;
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                border-radius: 20px;
                border: 0 !important;
                outline: 0 !important;
                background: teal;
                color: white;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                .form-btn:active {
                    box-shadow: none;
                }
            }
        }

        .sign-up-label {
            margin: 0;
            font-size: 10px;
            color: #747474;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            

            .sign-up-link {
                margin-left: 1px;
                font-size: 11px;
                text-decoration: underline;
                text-decoration-color: teal;
                color: teal;
                cursor: pointer;
                font-weight: 800;
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            }
        }
    }
        .buttons-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 20px;
            gap: 15px;

            .apple-login-button,
            .google-login-button {
                border-radius: 20px;
                box-sizing: border-box;
                padding: 10px 15px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                font-size: 11px;
                gap: 5px;
            }

            .apple-login-button {
                background-color: white;
                color: black;
                border: 2px solid #000;
            }

            .google-login-button {
                border: 2px solid #747474;
            }

            .apple-icon,
            .google-icon {
                font-size: 18px;
                margin-bottom: 1px;
            }
        }
    }

    .form-containerL {
        width: 350px;
        height: 530px;
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px 30px;

        @include md{
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.354);
        }

        .titleL {
            text-align: center;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            margin: 10px 0 30px 0;
            font-size: 28px;
            font-weight: 800;
        }

        .formL {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin-bottom: 15px;

            .inputL {
                border-radius: 20px;
                border: 1px solid #c0c0c0;
                outline: 0 !important;
                box-sizing: border-box;
                padding: 12px 15px;
            }

            .page-linkL {
                text-decoration: underline;
                margin: 0;
                text-align: end;
                color: #747474;
                text-decoration-color: #747474;

                .page-link-labelL {
                    cursor: pointer;
                    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                    font-size: 9px;
                    font-weight: 700;

                    &:hover {
                        color: white;
                    }
                }
            }

            .form-btnL {
                padding: 10px 15px;
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                border-radius: 20px;
                border: 0 !important;
                outline: 0 !important;
                background: teal;
                color: white;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


                .form-btnL:active {
                    box-shadow: none;
                }
            }
        }

        .sign-up-labelL {
            margin: 0;
            font-size: 10px;
            color: #747474;
            font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

            .sign-up-linkL {
                margin-left: 1px;
                font-size: 11px;
                text-decoration: underline;
                text-decoration-color: teal;
                color: teal;
                cursor: pointer;
                font-weight: 800;
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
            }
        }

        .buttons-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 20px;
            gap: 15px;

            .apple-login-button,
            .google-login-button {
                border-radius: 20px;
                box-sizing: border-box;
                padding: 10px 15px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
                    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                font-size: 11px;
                gap: 5px;
            }

            .apple-login-button {
                background-color: white;
                color: black;
                border: 2px solid #000;
            }

            .google-login-button {
                border: 2px solid #747474;
            }

            .apple-icon,
            .google-icon {
                font-size: 18px;
                margin-bottom: 1px;
            }
        }
    }
}