// @import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import "../css-config/mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin", sans-serif;
}

:root {
    --col1: #fa114f;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

.mainhead1 {
    -webkit-text-stroke: 1px #96e500;
    color: transparent;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;

    @include md {
        font-size: 20rem;
    }
}

::-webkit-scrollbar {
    
    @include md{
        width: 4px;
    }
}

::-webkit-scrollbar-thumb {

    @include md{
        border-radius: 10px;
        background-color: var(--col1);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    }
}